.editPage {
    width: 100%;
    height: 100vh;
    background-color: #F4F6F8;
}

.editTopBar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6989fa;
    color: white;
    font-size: 22px;
}

.editPart {
    width: 100%;
    height: 605px;
    display: flex;
}

.editImagePart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.editImagePart img {
    width: 32rem;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
}

.emptyImg {
    width: 32rem;
    height: 70%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    color: #6989fa;
}
.editImagePart input {
    width: 26rem;
    height: 50px;
    background-color: white;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.4);
    border-radius: 10px;
    font-size: 30px;
    padding-left: 20px;
}

.priceEditPart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.priceEditPart h1 {
    transform: translateX(-2px);
    font-weight: 450;
    color: gray;
}

.editInputBox {
    width: 28rem;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);

}

.editInputBox i {
    color: #6989fa;
}

.editInput {
    width: 90%;
    height: 100%;
    background-color: white;
    font-size: 30px;
    border: none;
}

.editButton {
    width: 21rem;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: #27A56D;
    color: white;
    border: none;
    transition: box-shadow 250ms;
}

.editButton:hover {
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
    transition: 250ms;
}

.uploadImage {
    margin-top: 40px;
}

.fileUploadInput {
    width: 28rem;
    height: 48px;
    background-color: white;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
    margin-top: 10px;
    border-radius: 10px;

}

.fileUploadInput::file-selector-button {
    height: 48px;
    border-radius: 10px;
    border: 0.1px solid gray;
    transition: 0.25s;
}

.fileUploadInput::file-selector-button:hover {
    background-color: #6989fa;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}