body {
    background-color: #F4F6F8;
}

.bodyPage {
    width: 35rem;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.8)
}

.upperSection {
    width: 100%;
    height: 100px;
    background-color: #8CBFB3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 30% 30%;

}

.cartAndName {
    width: 80%;
    height: 50%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.vegCart {
    height: 100%;
}

.namePart {
    font-weight: 420;
    color: white;
}

.loginSection {
    width: 90%;
    height: 450px;
    background-color: rgb(254, 254, 254);
    border: 1px solid #E6E9EE;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

.loginName {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginH1 {
    font-weight: 430;
    color: gray;
    font-size: 30px;
}

.emailBox {
    width: 80%;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #F9FAFC;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);

}

.passwordBox {
    width: 80%;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #F9FAFC;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

i {
    margin-left: 10px;
    font-size: 25px;
    color: gray;
}

input {
    width: 87%;
    height: 100%;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 0 9px 9px 0;
    background-color: transparent;
}

.button {
    height: 50px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    font-size: 23px;
    border-radius: 25px;
    background-color: #24ae8e;
    color: white;
    border: none;
    transition: box-shadow 0.5s;
}

.button:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.3);
    transition: 0.2s;
}

.loginParaPart {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

p .link {
    margin-left: 5px;
    text-decoration: none;
    color: #24ae8e;
    font-weight: 600;
}

.orSection {
    width: 80%;
    height: 20px;
    /* border: 2px solid black; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    display: flex;
    justify-content: center;

}

.orLeftPart {
    width: 46%;
    height: 2px;
    background-color: gray;
    position: relative;
    top: 7px;
}

.orPart {
    margin-left: 3px;
    margin-right: 3px;
    color: gray;
}

.orRightPart {
    width: 46%;
    height: 2px;
    background-color: gray;
    position: relative;
    top: 7px;
}

.guestSection {
    width: 80%;
    height: 50px;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0, 0.3);
}

#link {
    text-decoration: none;
    color: gray;
}

#link i {
    font-size: 25px;
    margin-right: 8px;
    color: gray;
}

#link h1 {
    font-weight: 400;
    font-size: 23px;
    user-select: none;
}

.guestInfo {
    font-size: 17px;
    font-weight: 400;
    color: gray;
    text-align: center;
    margin-top: 15px;
}

.nameBox {
    width: 80%;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #F9FAFC;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.shopNameBox {
    width: 80%;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background-color: #F9FAFC;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.paraPart {
    margin-top: 18px;
    text-align: center;
    font-size: 20px;
}